@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
   <h1>Welcome to My Site</h1>
   <p>We manage information about<b> Cars list</b> using tables such as <b> Delete car / edit or update car</b>.</p>
</div>
